@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 215 20.2% 65.1%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;
		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;
		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;
		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;
		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;
		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;
		--border: 216 34% 17%;
		--input: 216 34% 17%;
		--ring: 216 34% 17%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@font-face {
	font-family: "LibertinusSans-bold";
	src: url("/fonts/LibertinusSans-Bold.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LibertinusSans";
	src: url("/fonts/LibertinusSans-Regular.otf") format("opentype");
	font-weight: 200;
	font-display: swap;
}

body {
	background-color: #e3e3dc;
}

.header-nav-white a:hover,
.header-nav-white button:hover,
.header-nav-white a.active,
.header-nav-white button.active {
	color: #ae3111;
}

.header-nav-white a .upperline,
.header-nav-white button .upperline {
	position: absolute;
	top: -8px;
	height: 2px;
	background-color: transparent;
	transition: background-color 0.3s, width 0.3s ease-in-out;
	width: 0;
}

.header-nav-white a:hover .upperline,
.header-nav-white button:hover .upperline,
.header-nav-white a.active .upperline,
.header-nav-white button.active .upperline {
	width: 100%;
	background-color: #ae3111;
}

.header-nav-black a:hover,
.header-nav-black button:hover,
.header-nav-black a.active,
.header-nav-black button.active {
	color: #e3e3dc;
}

.header-nav-black a .upperline,
.header-nav-black button .upperline {
	position: absolute;
	top: -8px;
	height: 2px;
	background-color: transparent;
	transition: background-color 0.3s, width 0.3s ease-in-out;
	width: 0;
}

.header-nav-black a:hover .upperline,
.header-nav-black button:hover .upperline,
.header-nav-black a.active .upperline,
.header-nav-black button.active .upperline {
	width: 100%;
	background-color: #e3e3dc;
}

::selection {
	background: #ae3111; /* background color of the highlighted text */
	color: white; /* color of the highlighted text */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	margin-bottom: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #bfbfac;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #21211b;
	border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #21211b;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}

@layer utilities {
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none; /* Chrome, Safari and Opera */
	}
}
